.square {
  width: 48px;
  height: 48px;
  background-color: lightgreen;
  outline: solid black 1px;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 5px rgb(0 0 0 / 0.2);
}
.square.clicked {
  cursor: default;
  background-color: lightgray;
  box-shadow: unset;
}
.square.clicked.bomb-clicked {
  background-color: lightcoral;
}
.square.flagged .square-content,
.square.clicked .square-content {
  visibility: visible;
}
.square-content {
  visibility: hidden;
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}
.square-content.has-bomb {
  width: 50px;
  height: 44px;
}